<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Cuteness</th>
    <th>softness</th>
  </tr>

  <tr>
    <td><%= @kitten.name %></td>
    <td><%= @kitten.age %></td>
    <td><%= @kitten.cuteness %></td>
    <td><%= @kitten.softness %></td>
  </tr>
</table>

<%= link_to "destroy", kitten_path(@kitten),
    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this kitten?" } %>
<%= link_to "edit", edit_kitten_path(@kitten) %>