<!DOCTYPE html>
<html>
  <head>
    <title>OdinKittens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash notice"><%= notice %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= alert %></div>
    <% end %>

    <div class="header">
      <%= link_to "homepage", root_path %>
      <%= link_to "create kitten", new_kitten_path %>
    </div>

    <%= yield %>
  </body>
</html>
